.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px auto auto;
  width: 88%;
}

img {
  width: 150px;
  height: 47px;
}

.links {
  width: 150px;
  display: flex;
  flex-direction: row;
  color: gray;
  justify-content: space-between;
  align-items: end;
}

a {
  cursor: pointer;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  padding-bottom: 0px;
  padding-right: 0px;
}

a:hover{
  text-decoration: none;
}

a:focus,a:active,a:visited {
  outline: none;
  text-decoration: none;
  color: inherit;
}

a:-webkit-any-link {
  color: inherit;
}

img:focus,a:active{
  outline: none;
}

img:hover {
  cursor: pointer;
}

.isActive {
  color: black !important;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  img {
    width: 60%;
    height: auto;
  }
}

@media only screen and (max-width: 330px) {
  img {
    width: 60%;
    height: auto;
  }

  a {
    margin-left: 25px;
    margin-right: 25px;
  }
}