<div class="wrapper">
  <img src="../../../img/rolam.jpg" alt="">
  <div class="text">
    Amikor 10 évesen összevágtam az első videómat Windows Movie Maker-ben,
    és azzal megnevettetem a családot, elhatároztam, hogy vágó leszek.
    <br>
    <br>
    Az évek során kitanultam a vágás alapjait egyetemen és autodidakta módon,
    sok-sok esküvői-, image-, reklámfilm elkészítésén dolgoztam. Szabadúszó videósként
    operatőri munkát is végeztem kreatív projektekben, emellett a colorist szakma
    és a rendezés iránt is érdeklődöm.
    <br>
    <br>
    Dolgoztam az Oscar-díjas Deák Kristóf asszisztenseként, ahol megismertem
    a filmkészítés alapjait. Jelenleg Császi Ádám Háromezer számozott darab című filmjének
    werkfilmsorozatát keszítem, ezzel is célom a remek magyar filmjeink
    széles körben való terjesztése.
  </div>
</div>