.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 99%;
  margin: auto;
}
 
img {
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 75px;
  width: 35%;
}

.text {
  font-family: 'Rokkitt', serif;
  line-height: 150%;
  font-size: 18px;
  margin-left: 75px;
  width: 35%;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  img {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .text {
    margin-right: 20px;
    margin-left: 20px;
    width: 80%;
    margin: auto;
  }
}