.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
}

div {
  margin: 10px;
}

img {
  height: auto;
  width: 30%;
  align-self: center;
}

.text {
  font-family: 'Rokkitt', serif;
  font-weight: 800;
  font-size: 35px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    margin-top: 50px;
  }

  img {
    width: 80%;
  }
}