<div class="wrapper" [ngStyle]="{ display: !isSlideShow ? 'grid' : 'none' }">
  <img *ngFor="let gallery of images; let i = index" class="galleryImages" src="../../../img/new-gallery/gallery-{{ i }}.jpg" alt="" (click)="openImage(i)" />
</div>
<div class="slideShow" *ngIf="isSlideShow">
  <div class="galleryHeader">
    <i class="fas fa-th-large" (click)="close()"></i>
    <i class="fas fa-times" routerLink="/blog"></i>
  </div>
  <div class="slideShowImageContainer">
    <i class="fas fa-arrow-left arrows" (click)="previous(i)"></i>
    <img src="../../../img/new-gallery/gallery-{{ clickedIndex }}.jpg" alt="" class="slideShowImage" />
    <i class="fas fa-arrow-right arrows" (click)="next(i)"></i>
  </div>
</div>
